body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:1560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:1560px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:772px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:333px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:333px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:158px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1841 {
  position:absolute;
  left:30px;
  top:26px;
  width:40px;
  height:40px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1843 {
  position:absolute;
  left:302px;
  top:26px;
  width:146px;
  height:40px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1846 {
  position:absolute;
  left:257px;
  top:135px;
  width:29px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#FFFFFF;
}
#u1848 {
  position:absolute;
  left:301px;
  top:101px;
  width:156px;
  height:67px;
  font-size:72px;
  color:#FFFFFF;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1851 {
  position:absolute;
  left:64px;
  top:255px;
  width:50px;
  height:50px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u1853 {
  position:absolute;
  left:74px;
  top:265px;
  width:29px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1855 {
  position:absolute;
  left:393px;
  top:255px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1857 {
  position:absolute;
  left:122px;
  top:271px;
  width:219px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
}
#u1858 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1859 {
  position:absolute;
  left:460px;
  top:273px;
  width:231px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u1861 {
  position:absolute;
  left:0px;
  top:221px;
  width:750px;
  height:1px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u1863 {
  position:absolute;
  left:725px;
  top:247px;
  width:60px;
  height:58px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u1865 {
  position:absolute;
  left:-33px;
  top:247px;
  width:57px;
  height:58px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:21px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1867 {
  position:absolute;
  left:60px;
  top:365px;
  width:142px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1870 {
  position:absolute;
  left:152px;
  top:512px;
  width:446px;
  height:100px;
  font-size:28px;
  color:#666666;
}
#u1871 {
  position:absolute;
  left:2px;
  top:34px;
  width:442px;
  word-wrap:break-word;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1872 {
  position:absolute;
  left:185px;
  top:527px;
  width:70px;
  height:70px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1875 {
  position:absolute;
  left:152px;
  top:622px;
  width:446px;
  height:100px;
  font-size:28px;
  color:#666666;
}
#u1876 {
  position:absolute;
  left:2px;
  top:34px;
  width:442px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u1877 {
  position:absolute;
  left:197px;
  top:642px;
  width:40px;
  height:47px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1880 {
  position:absolute;
  left:152px;
  top:395px;
  width:446px;
  height:100px;
  font-size:28px;
  color:#666666;
}
#u1881 {
  position:absolute;
  left:2px;
  top:34px;
  width:442px;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1882 {
  position:absolute;
  left:185px;
  top:408px;
  width:70px;
  height:70px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1885 {
  position:absolute;
  left:152px;
  top:747px;
  width:446px;
  height:100px;
  font-size:28px;
  color:#666666;
}
#u1886 {
  position:absolute;
  left:2px;
  top:34px;
  width:442px;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u1887 {
  position:absolute;
  left:185px;
  top:776px;
  width:70px;
  height:38px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
